<p class="userinfo">
    <% if current_student %>
    <h1><%= link_to "Log out", student_session_path("current"), :method => :delete %></h1>
   
      <h6> <p>Signed in as <%= current_student.first_name %></p></h6>

    <p> <a href = "/concepts/1" ><%= current_student.period_1 %></a> 
        <a href = "/concepts/2" ><%= current_student.period_2 %></a>
        <a href = "/concepts/3" ><%= current_student.period_3 %></a>
        <a href = "/concepts/4" ><%= current_student.period_4 %></a>
        <a href = "/concepts/5" ><%= current_student.period_5 %></a>
        <%= puts current_student %>
    </p>

    <% else %>

<%= form_tag student_sessions_path do %>
  <div class="field">
    <%= label_tag :email %><br/>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
<%end %>