<h1>New Lesson</h1>
<%= form_for @lesson do |f| %>
  <p>
    <%= f.label "date" %><br>
    <%= f.date_field "date" %>
  </p>
  <p>
    <%= f.label "topic" %><br>
    <%= f.text_field "topic" %>
  </p>
  <%= f.hidden_field :teacher_id, value: current_teacher.id %>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>