<div class="container">
<div class="container-home">
  <h1>Planr</h1>

  <p class="userinfo">
    <% if current_teacher %>
      <div class="signed-in">
      <p class="display-login-teacher">Signed in as <%= current_teacher.first_name %></p>
      <div class="log-out"><%= link_to "Log out", teacher_session_path("current"), class: "log-out-word", :method => :delete %></div>
      </div>

      <a href="/lessons/new"><div class="btn-group">
      <button type="button" class="btn btn-danger btn-lg">Create a Lesson</button></a>
    <% else %>

<%= form_tag teacher_sessions_path, class: "form-inline" do %>
  <div class="input-group teacher">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Teacher</button>
      </span>
    <%= text_field_tag :email, params[:email], class: "form-control teacher-padding", placeholder: "Username" %>
  </div>

    <div class="input-group teacher-pw">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
  <div class="input-group teacher" style="color: black;">
    <%= password_field_tag :password, params[:password], placeholder: "Password", class: "form-control teacher-padding" %>
  </div>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
<%end %>

